# Docker and environment
ENVIRONMENT={dev|prod}
COMPOSE_FILE=docker-compose.yml:docker-compose.${ENVIRONMENT}.yml

# Database
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Object Storage
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
